@font-face {
  font-family: Poppins-Regular;
  src: url(../../Montserrat/static/Montserrat-Regular.ttf); }
@font-face {
  font-family: Poppins-Bold;
  src: url(../../Montserrat/static/Montserrat-Bold.ttf); }
@font-face {
  font-family: Poppins-Medium;
  src: url(../../Montserrat/static/Montserrat-Medium.ttf); }
#page-home .total-content .content-items .category-content-news {
  width: 82%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px; }
  #page-home .total-content .content-items .category-content-news .box-news {
    width: 100%;
    padding-bottom: 25px; }
    #page-home .total-content .content-items .category-content-news .box-news .img-news {
      width: 100%;
      height: 270px; }
      #page-home .total-content .content-items .category-content-news .box-news .img-news img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
    #page-home .total-content .content-items .category-content-news .box-news .title-content-news {
      margin-top: 30px; }
      #page-home .total-content .content-items .category-content-news .box-news .title-content-news a {
        font-size: 24px;
        font-family: Poppins-Medium;
        color: #101425;
        font-weight: 500;
        text-decoration: none; }
      #page-home .total-content .content-items .category-content-news .box-news .title-content-news a:hover {
        color: #FDA94F;
        text-decoration: underline;
        transition: all 0.3s ease-in-out; }
    #page-home .total-content .content-items .category-content-news .box-news .describe-news {
      font-size: 15px;
      font-family: Poppins-Regular;
      color: #666666;
      font-weight: 400;
      margin-top: 25px; }
    #page-home .total-content .content-items .category-content-news .box-news .author-news {
      display: flex;
      align-items: center;
      margin-top: 25px; }
      #page-home .total-content .content-items .category-content-news .box-news .author-news .info-author {
        font-size: 15px;
        font-family: Poppins-Medium;
        font-weight: 500;
        color: #666666;
        margin-left: 20px; }

@media screen and (max-width: 2000px) {
  #page-home .total-content .content-items .total-items .total-slider-2 {
    display: none; }
  #page-home .total-content .content-items .total-items .total-slider-3 {
    display: none; }
  #page-home .total-content .content-items .total-items .total-slider-4 {
    display: none; }
  #page-home .total-content .content-items .category-content-news .box-news .img-news {
    height: 370px; } }
@media screen and (max-width: 1366px) {
  #page-home .total-content .content-items .category-content-news .box-news .img-news {
    height: 270px; } }
@media screen and (max-width: 1112px) {
  #page-home .header .container .box-header .menu {
    width: 70%; }
  #page-home .total-content .content-items .slider-popular .total-items .total-slider {
    display: none; }
  #page-home .total-content .content-items .slider-popular .total-items .total-slider-2 {
    display: block; }
  #page-home .total-content .content-items .slider-popular-2 input {
    margin-top: 7%; }
  #page-home .total-content .content-items .category-content-news .box-news .img-news {
    height: 230px; }
  #page-home .footer .footer-bottom {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px; }
    #page-home .footer .footer-bottom .box-footer-bottom {
      width: 100%; }
  #page-home .footer .copyright {
    width: 60%; } }
@media screen and (max-width: 834px) {
  #page-home .nav {
    display: block; }
    #page-home .nav .navbar .fa-bars {
      margin-top: 20px; }
    #page-home .nav .navbar .search-box {
      display: none; }
  #page-home .header .container .box-header .menu {
    width: 40%; }
    #page-home .header .container .box-header .menu .total-menu {
      display: none; }
  #page-home .total-content .content-items .slider-popular .total-items .total-slider-2 {
    display: none; }
  #page-home .total-content .content-items .slider-popular .total-items .total-slider-3 {
    display: block; }
  #page-home .total-content .content-items .slider-popular-2 input {
    margin-top: 9%; }
  #page-home .total-content .content-items .category-content-news .box-news .img-news {
    height: 180px; } }
@media screen and (max-width: 768px) {
  #page-home .header .container .box-header .menu .total-menu {
    display: none; }
  #page-home .total-content .content-items .slider-popular .total-items .total-slider-2 {
    display: none; }
  #page-home .total-content .content-items .slider-popular-2 input {
    margin-top: 10%; }
  #page-home .total-content .content-items .category-content-news .box-news .img-news {
    height: 150px; }
  #page-home .footer .footer-bottom {
    display: grid;
    grid-template-columns: auto auto; } }
@media screen and (max-width: 668px) {
  #page-home .total-content .content-items .category-content-news .box-news .img-news {
    height: 250px; }
  #page-home .total-content .content-items .category-content-news .box-news .title-content-news a {
    font-size: 20px; } }
@media screen and (max-width: 600px) {
  #page-home .total-content .content-items .slider-popular {
    padding-top: 5px;
    padding-bottom: 5px; }
    #page-home .total-content .content-items .slider-popular .title {
      margin-left: 35%; }
    #page-home .total-content .content-items .slider-popular .total-items .total-slider-3 {
      display: none; }
    #page-home .total-content .content-items .slider-popular .total-items .total-slider-4 {
      display: block;
      width: 50%;
      margin-right: 14%;
      padding-top: 15px; }
    #page-home .total-content .content-items .slider-popular .total-items .icon-search .fa-search {
      font-size: 25px; }
  #page-home .total-content .content-items .slider-popular-2 input {
    margin-top: 7%;
    width: 80%; }
  #page-home .total-content .content-items .slider-popular-2 .fa-search {
    font-size: 25px; }
  #page-home .total-content .content-items .category-content-news {
    display: grid;
    grid-template-columns: auto;
    gap: 30px; }
    #page-home .total-content .content-items .category-content-news .box-news {
      width: 100%; }
      #page-home .total-content .content-items .category-content-news .box-news .title-content-news a {
        font-size: 20px; }
  #page-home .footer .copyright {
    width: 90%; } }
@media screen and (max-width: 600px) {
  #page-home .total-content .content-items .slider-popular {
    padding-top: 5px;
    padding-bottom: 5px; }
    #page-home .total-content .content-items .slider-popular .title {
      margin-left: 35%; }
    #page-home .total-content .content-items .slider-popular .total-items .total-slider-3 {
      display: none; }
    #page-home .total-content .content-items .slider-popular .total-items .total-slider-4 {
      display: block;
      width: 50%;
      margin-right: 14%;
      padding-top: 15px; }
    #page-home .total-content .content-items .slider-popular .total-items .icon-search .fa-search {
      font-size: 25px; }
  #page-home .total-content .content-items .slider-popular-2 input {
    margin-top: 7%;
    width: 80%; }
  #page-home .total-content .content-items .slider-popular-2 .fa-search {
    font-size: 25px; }
  #page-home .total-content .content-items .category-content-news {
    display: grid;
    grid-template-columns: auto;
    gap: 30px; }
    #page-home .total-content .content-items .category-content-news .box-news {
      width: 100%; }
      #page-home .total-content .content-items .category-content-news .box-news .title-content-news a {
        font-size: 20px; }
  #page-home .footer .copyright {
    width: 90%; } }
@media screen and (max-width: 414px) {
  #page-home .header .container .box-header .logo {
    margin-left: 10px; }
  #page-home .total-content .content-items .category-content-news .box-news .img-news {
    height: 170px; }
  #page-home .total-content .content-items .slider-popular {
    padding-top: 10px;
    padding-bottom: 10px; }
    #page-home .total-content .content-items .slider-popular .title {
      margin-left: 24%; }
    #page-home .total-content .content-items .slider-popular .total-items .total-slider-4 {
      width: 70%;
      margin-right: 7%; }
    #page-home .total-content .content-items .slider-popular .total-items .icon-search {
      width: 60px; }
      #page-home .total-content .content-items .slider-popular .total-items .icon-search .fa-search {
        font-size: 20px;
        margin-top: 20px; }
  #page-home .total-content .content-items .slider-popular-2 input {
    margin-top: 15%;
    width: 80%; }
  #page-home .total-content .content-items .slider-popular-2 .fa-search {
    font-size: 25px; }
  #page-home .footer .footer-top {
    display: block; }
    #page-home .footer .footer-top .social-footer {
      margin-top: 10px; }
  #page-home .footer .footer-bottom {
    display: grid;
    grid-template-columns: auto; }
  #page-home .footer .copyright {
    width: 90%; } }
@media screen and (max-width: 375px) {
  #page-home .total-content .content-items .category-content-news .box-news .img-news {
    height: 150px; } }
@media screen and (max-width: 320px) {
  #page-home .total-content .content-items .category-content-news .box-news .img-news {
    height: 140px; }
  #page-home .footer .footer-top {
    height: 110px; }
    #page-home .footer .footer-top .social-footer {
      margin-top: 10px; }
      #page-home .footer .footer-top .social-footer .social {
        margin-right: 0px; } }
.hien .luomh {
  margin-top: 20px; }

/*# sourceMappingURL=news.css.map */
