@font-face {
    font-family: Poppins-Regular;
    src: url(../../Montserrat/static/Montserrat-Regular.ttf);
  }
  @font-face {
    font-family: Poppins-Bold;
    src: url(../../Montserrat/static/Montserrat-Bold.ttf);
  }
  @font-face {
  font-family: Poppins-Medium;
  src: url(../../Montserrat/static/Montserrat-Medium.ttf);
  }
  * {
      padding: 0;
      margin: 0;
      border: none;
      font-size: 100%;
      box-sizing: border-box;
    }
    body{
      width: 100%;
    }
    main {
        height: 100%;
        margin: auto;
      }
      .container {
        width: 100%;
        margin: 0 auto;
      }
    
      #page-home .header-2{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        transition: all 0.5s ease-in-out;
      }
      #page-home .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        transition: all 0.5s ease-in-out;
      }
      header.sticky{
        background-color: #ffffff;
        z-index: 9;
      }
      
      #page-home .header .container .box-header{
        width: 100%;
        height: 50px;
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      #page-home .header .container .box-header .logo{
        margin-left: 50px;
      }
      #page-home .header .container .box-header .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 55%;
        margin-right: 50px;
      }
      #page-home .header .container .box-header .menu .total-menu{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 30px;
        margin-left: 110px;
      }
      #page-home .header .container .box-header .menu .total-menu li{
        list-style: none;
      }
      #page-home .header .container .box-header .menu .total-menu a{
        font-size: 16px;
        font-family:Poppins-Regular;
        font-weight: 500;
        color: rgb(0, 0, 0);
        text-decoration: none;
      }
      #page-home .header .container .box-header .menu .total-menu .submenu{
        width: 200px;
        display: none;
        background-color: #fff;
        position: absolute;
        border-radius: 5px;
      }
      #page-home .header .container .box-header .menu .total-menu ul.submenu li.donkey-menu a{
        line-height: 40px;/*Tăng chiều rộng của li*/
        padding-left: 20px;
        display: block;
      }
      #page-home .header .container .box-header .menu .total-menu ul.submenu li.donkey-menu a:hover{
        background-color: #ffeee2;
        color: #fdad58;
        transition: ease-in 0.50s;/*3 thuộc tính giúp hover chuyển dộng mượt hơn*/
        -moz-transition: ease-in 0.30s;
        -webkit-transition: ease-in 0.15s;
        text-decoration: underline;
      }
      #page-home .header .container .box-header .menu .total-menu li:hover .submenu{
        display: block;
      }
      #page-home .header .container .box-header .menu .listing{
        width: 180px;
        height: 100%;
        background-color: #FDA94F;
        border-radius: 5px;
      }
      #page-home .header .container .box-header .menu .listing a{
       text-decoration: none;
       font-family: Poppins-Regular;
       font-weight: 500;
       color: #fff
      }
      .content{
        display: flex;
        width: 70%;
        height: 300px;
        margin: 0 auto;
        justify-content: space-between;
        margin-top: 250px;
      }
      .image>img{
        width: 500px;
        border-radius: 10px;
      }
      .content2{
        width: 400px;
        margin-top: 20px;
      }
      .content2>h1{
        color: rgb(0, 0, 0);
        font-size: 35px;
        font-family: Poppins-Regular;
      }
      .content2>p.price{
        color: red;
        font-size: 25px;
        font-family: Poppins-Regular;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .content2>p{
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-family: Poppins-Regular;
      }
      .content2>button.but{
        width: 50px;
        height: 40px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: blue;
        color: white;
        margin-top: 20px;
      }
      .content2>button.click{
        width: 100px;
        margin-top: 10px;
        height: 50px;
        color: white;
        background-color: #FDA94F;
        border-radius:5px;
      }
      .footer{
        width: 100%;
        padding-bottom: 30px;
        background-color: #f6f7fb;
        padding-top: 100px;
        margin-top: 150px;
      }
      .footer .footer-top{
        width: 83%;
        height: 95px;
       margin: auto; 
       display: flex;
       justify-content: space-between;
       border-bottom: 1px solid #d4d4d4;
      }
      .footer .footer-top .logo-footer{
        width: 140px;
        height: 46px;
      }
      .footer .footer-top .logo-footer img{
        width: 100%;
        height: 100%;
      }
      .footer .footer-top .social-footer{
        display: flex;
      }
      .footer .footer-top .social-footer .social{
        width: 40px;
        height: 40px;
        border: 1px solid #FDA94F;
        margin-right: 20px;
        border-radius: 50%;
      }
      .footer .footer-top .social-footer .social .fa-brands{
        color: #FDA94F;
        font-size: 15px;
        margin-left: 35%;
        margin-top: 30%;
      }
      .footer .footer-top .social-footer h3{
        font-size: 15px;
        font-family: Poppins-Regular;
        margin-right: 20px;
        margin-top: 10px;
      
      }
      .footer .footer-top .social-footer .social:hover{
        background-color: #FDA94F;
      }
      .footer .footer-top .social-footer .social:hover .fa-brands{
        color: #ffffff;
      }
      .footer .footer-bottom{
        width: 83%;
        margin: auto;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
      }
      .footer .footer-bottom .box-footer-bottom{
        width: 25%;
        height: 212px;
      }
      .footer .footer-bottom .box-footer-bottom .title-footer{
        font-size: 24px;
        font-family: Poppins-Bold;
        font-weight: 700;
        color: #101425;
      }
      .footer .footer-bottom .box-footer-bottom .content-footer{
        margin-top: 30px;
      }
      .footer .footer-bottom .box-footer-bottom .content-footer a{
        text-decoration: none;
        font-size: 15px;
        font-family: Poppins-Regular;
        font-weight: 400;
        color: #666666;
      }
      .footer .footer-bottom .box-footer-bottom .content-footer a:hover{
        color: #FDA94F;
      }
      .footer .footer-bottom .box-footer-bottom .content-footer .name{
        width: 100%;
        height: 48px;
        border: 1px solid #d4d4d4;
        background-color: #ffffff;
        border-radius: 5px;
      }
      .footer .footer-bottom .box-footer-bottom .content-footer .name input{
        width: 90%;
        height: 38px;
        margin-top: 5px;
        margin-left: 5%;
        outline: none;
      }
      #page-home .footer .footer-bottom .box-footer-bottom .content-footer .email{
        width: 100%;
        height: 48px;
        border: 1px solid #d4d4d4;
        background-color: #ffffff;
        border-radius: 5px;
        margin-top: 10px;
      }
      .footer .footer-bottom .box-footer-bottom .content-footer .email input{
        width: 90%;
        height: 38px;
        margin-top: 5px;
        margin-left: 5%;
        outline: none;
      }
      .footer .footer-bottom .box-footer-bottom .content-footer .btn{
        width: 100%;
        height: 48px;
        background-color: #FDA94F;
        color: #ffffff;
        font-size: 15px;
        font-family: Poppins-Regular;
        border-radius: 5px;
        margin-top: 10px;
      }
      .footer .footer-bottom .box-footer-bottom .content-footer .btn:hover{
      background-color: #fdb970;
      }
      .footer .copyright{
        width: 30%;
        margin: auto;
        margin-top: 40px;
        text-align: center;
      }
      .footer .copyright p{
        font-size: 15px;
        font-family: Poppins-Regular;
      }
      .footer .copyright a{
        font-size: 15px;
        font-family: Poppins-Regular;
        text-decoration: none;
        color: #101425;
      }
      .footer .copyright a:hover{
        color: #FDA94F;
      }