@font-face {
  font-family: Poppins-Regular;
  src: url(../../font/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../../font/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../../font/Poppins-Bold.ttf);
}
* {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 100%;
  box-sizing: border-box;
}
ol ul {
  list-style: none;
}
body{
  width: 100%;
  background-image: url('../../images/baner-danh-muc.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
main {
  height: 100%;
  margin: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}

#page-home .header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  transition: all 0.5s ease-in-out;
  z-index: 9;
}
header.sticky{
  background-color: #ffffff;
  z-index: 9;
}

#page-home .header .container .box-header{
  width: 100%;
  height: 50px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#page-home .header .container .box-header .logo{
  margin-left: 50px;
}
#page-home .header .container .box-header .menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 55%;
  margin-right: 50px;
}
#page-home .header .container .box-header .menu .total-menu{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 40px;
}
#page-home .header .container .box-header .menu .total-menu li{
  list-style: none;
}
#page-home .header .container .box-header .menu .total-menu a{
  font-size: 16px;
  font-family:Poppins-Regular;
  font-weight: 500;
  color: #222;
  text-decoration: none;
}
#page-home .header .container .box-header .menu .total-menu .submenu{
  width: 200px;
  display: none;
  background-color: #fff;
  position: absolute;
  border-radius: 5px;
}
#page-home .header .container .box-header .menu .total-menu ul.submenu li.donkey-menu a{
  line-height: 40px;/*Tăng chiều rộng của li*/
  padding-left: 20px;
  display: block;
}
#page-home .header .container .box-header .menu .total-menu ul.submenu li.donkey-menu a:hover{
  background-color: #ffeee2;
  color: #fdad58;
  transition: ease-in 0.5s;/*3 thuộc tính giúp hover chuyển dộng mượt hơn*/
  -moz-transition: ease-in 0.30s;
  -webkit-transition: ease-in 0.15s;
  text-decoration: underline;
}
#page-home .header .container .box-header .menu .total-menu li:hover .submenu{
  display: block;
  transition: ease-in 0.5s;/*3 thuộc tính giúp hover chuyển dộng mượt hơn*/
  -moz-transition: ease-in 0.30s;
  -webkit-transition: ease-in 0.15s;
}
#page-home .header .container .box-header .menu .listing{
  width: 180px;
  height: 100%;
  background-color: #FDA94F;
  border-radius: 5px;
}
#page-home .header .container .box-header .menu .listing a{
 text-decoration: none;
 font-family: Poppins-Regular;
 font-weight: 500;
 color: #fff
}


/* ----------------------------------sidebar-------------------------- */
nav{
  position: fixed;
  top: 3%;
  right: 6%;
  width: 10%;
  height: 50px;
  z-index: 99;
  }
  nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
  }
  nav .navbar .fa-sharp{
    font-size: 25px;
    color: #FDA94F;
  }
  .navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  }
  nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
  }
  nav .navbar .links{
  display: flex;
  }
  nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
  }
  nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #111;
  font-size: 15px;
  font-weight: 500;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
  transform: rotate(180deg);
  }
  
  nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #111;
  transition: all 0.5s ease;
  }
  nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .htmlCss-sub-menu-2,
  nav .navbar .links li:hover .htmlCss-sub-menu-3,
  nav .navbar .links li:hover .js-sub-menu{
  display: block;
  }
  .navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu a{
  color: #111;
  font-size: 15px;
  font-weight: 500;
  }
  .navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
  }
  .navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
  display: block;
  }
  .navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
  }
  .navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
  }
  .navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #fff;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  }
  .navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #fff;
  }
  .search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #fff;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
  }
  .search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
  }
  .navbar .nav-links .sidebar-logo{
  display: none;
  }
  .navbar .bx-menu{
  display: none;
  }
  @media (max-width:900px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }
  
  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 16px;
    font-family: Poppins-Medium;
    color: #101425;
  }
  }
  @media (max-width:900px){
  
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 320px;
    width: 100%;
    background:  #fff;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #111;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
  nav .navbar .links li{
    display: block;
  }
  nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
  }
  nav .navbar .links li .sub-menu li{
  border-bottom: none;
  
  }
  .navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }
  
  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .htmlCss-sub-menu-2,
  nav .navbar .links li:hover .htmlCss-sub-menu-3,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show4 .links .htmlCss-sub-menu-2,
  .navbar .nav-links.show5 .links .htmlCss-sub-menu-3,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show4 .links .htmlcss-arrow-2,
    .navbar .nav-links.show5 .links .htmlcss-page,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
  }
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
  }
  @media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
  } 
  }
  
  



#page-home .header .container .box-header .menu .listing .fa-regular{
  color: #fff;
  margin-left: 8%;
}


/* ----------------------------------------------------------------------------------------------- */
#page-home .total-content .content-items{
  width: 100%;
  background-color: #ffffff;
  margin-top: 120px;
  padding-bottom: 100px;
}
#page-home .total-content .title-website{
  width: 80%;
  margin: auto;
  margin-top: 220px;
}
#page-home .total-content .title-website .best-way{
  font-size: 16px;
  font-family: Poppins-Regular;
  color: #ffffff;
  margin-top: 24px;
}
#page-home .total-content .title-website .title-home{
  font-size: 55px;
  font-family: Poppins-Bold;
  font-weight: 700;
  color: #ffffff;
}
#page-home .total-content .content-items .total-website{
  width: 100%;
  background-color: #F6F7F8;
  padding-top: 100px;
  padding-bottom: 90px;
}
#page-home .total-website .box-details{
width: 82%;
margin: auto;
display: flex;
justify-content: space-between;
}
#page-home .total-website .article-left{
  width: 75%;
}

/* ----------------------------------------------------------------------- */
#page-home .total-website .aside-right{
  width: 23%;
  border: 1px solid #c5c5c5;
}
#page-home .total-website .aside-right .intro-client{
width: 100%;
border-bottom: 1px solid #c5c5c5;
text-align: center;
padding-bottom: 30px;
}
#page-home .total-website .aside-right .intro-client .img-client{
width: 82px;
height: 82px;
border: 1px solid #c5c5c5;
border-radius: 5px;
margin: auto;
margin-top: 30px;
}
#page-home .total-website .aside-right .intro-client .img-client img{
width: 60px;
height: 60px;
margin-top: 10px;
border-radius: 5px;
}

#page-home .total-website .aside-right .intro-client .name-client{
font-size: 16px;
font-family: Poppins-Medium;
font-weight: 500;
color: #101425;
margin-top: 16px;
}
#page-home .total-website .aside-right .intro-client .building{
font-size: 12px;
font-family: Poppins-Regular;
font-weight: 400;
color: #666666;
margin-top: 10px;
}
#page-home .total-website .aside-right .intro-client .evaluate .fa{
color: #FDA94F;
}
#page-home .total-website .aside-right .intro-client .evaluate{
font-size: 15px;
font-family: Poppins-Regular;
font-weight: 400;
color: #FDA94F;
margin-top: 10px;
}
#page-home .total-website .aside-right .intro-client .evaluate span{
color: #101425;
}

/* -------------------------------------------------------------------- */

#page-home .total-website .aside-right .contact{
width: 100%;
border-bottom: 1px solid #c5c5c5;
margin-top: 25px;
padding-bottom: 30px;
padding-left: 30px;
}
#page-home .total-website .aside-right .contact .title{
font-size: 16px;
font-family: Poppins-Medium;
font-weight: 500;
color: #101425;
}
#page-home .total-website .aside-right .contact .input{
width: 82%;
height: 40px;
border-bottom: 1px solid #c5c5c5;
margin-top: 20px;
}
#page-home .total-website .aside-right .contact .input input{
width: 90%;
height: 20px;
margin-top: 10px;
outline: none;
background-color: #F6F7F8
}
#page-home .total-website .aside-right .contact .btn{
width: 70%;
height: 40px;
background-color: #FDA94F;
color: #ffffff;
font-size: 14px;
font-family: Poppins-Medium;
margin-top: 20px;
margin-left: 6%;
border-radius: 5px;
}
/* ------------------------------------------------------------------- */

#page-home .total-website .aside-right .info{
width: 100%;
margin-top: 20px;
padding-bottom: 30px;
padding-left: 30px;
}
#page-home .total-website .aside-right .info .title-info{
font-size: 16px;
font-family: Poppins-Medium;
color: #101425;
}
#page-home .total-website .aside-right .info .media-body{
width: 35%;
display: flex;
justify-content: space-between;
margin-top: 30px;
}
#page-home .total-website .aside-right .info .media-body .fa{
color: #FDA94F;
}
#page-home .total-website .aside-right .info .media-body .title{
font-size: 14px;
font-family: Poppins-Medium;
color: #101425;
}
#page-home .total-website .aside-right .info .content-bottom{
font-size: 12px;
font-family: Poppins-Regular;
color: #666666;
margin-top: 10px;
margin-left: 15%;
}
/* ------------------------------------------------------------------- */

#page-home .total-website .article-left .product-slider{
  width: 100%;
  height: 627px;
  border-radius: 10px;
}
#page-home .total-website .article-left .product-slider .slick-next{
 position: absolute;
 right: 5%;
 bottom: 7%;
 border: 1px solid #ffffff;
 border-radius: 50%;
 width: 50px;
 height: 50px;
}
#page-home .total-website .article-left .product-slider .slick-prev{
 position: absolute;
 right: 13%;
 top: 85.5%;
 border: 1px solid #ffffff;
 border-radius: 50%;
 width: 50px;
 height: 50px;
 z-index: 1;
}
#page-home .total-website .article-left .product-slider .slick-prev:hover{
box-shadow: 0 0 7px #ffffff;
}
#page-home .total-website .article-left .product-slider .slick-next:hover{
box-shadow: 0 0 7px #ffffff;
}
#page-home .total-website .article-left .box-slider{
  width: 100%;
  border-radius: 10px;

}
#page-home .total-website .article-left .box-slider img{
  width: 100%;
  height: 627px;
  border-radius: 10px;
  z-index: -1;
}
#page-home .total-content .content-items .total-website .article-left .name-price{
display: flex;
margin-top: 50px;
}
#page-home .total-content .content-items .total-website .article-left .name-price span{
font-size: 32px;
font-family: Poppins-Bold;
font-weight: 700;
color: #FDA94F;
}
#page-home .total-content .content-items .total-website .article-left .name-price h3{
font-size: 32px;
font-family: Poppins-Medium;
font-weight: 600;
color: #101425;
margin-left: 30px;
}
#page-home .total-content .content-items .total-website .article-left del{
font-size: 16px;
font-family: Poppins-Regular;
color: #666666;
font-weight: 400;
}
#page-home .total-content .details-product{
width: 63%;
margin-top: 96px;
margin-left: 9%;
}
#page-home .total-content .details-product .container .row-room{
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
#page-home .total-content .details-product .container .row-room .box-room{
width: 183px;
height: 61px;
}
#page-home .total-content .details-product .container .row-room .box-room .title-room{
font-size: 20px;
font-family: Poppins-Medium;
font-weight: 500;
color: #101425;
margin-left: 14%;
}
#page-home .total-content .details-product .container .row-room .box-room .icon-room{
display: flex;
margin-left: 14%;
margin-top: 6px;
}
#page-home .total-content .details-product .container .row-room .box-room .icon-room .fa{
font-size: 15px;
color: #FDA94F;
}
#page-home .total-content .details-product .container .row-room .box-room .icon-room .content-room{
font-size: 15px;
color: #101425;
font-family: Poppins-Regular;
margin-left: 15px;
}

/* -------------------------------------------------------------------------------- */

#page-home .total-content .details-product .container .base-floor{
width: 100%;
margin-top: 70px;
padding-bottom: 30px;
border-bottom: 1px solid #FDA94F;
}
#page-home .total-content .details-product .container .base-floor .title-base{
font-size: 24px;
font-family: Poppins-Bold;
font-weight: 700;
color: #101425;
}
#page-home .total-content .details-product .container .base-floor .content-base{
font-size: 15px;
font-family: Poppins-Regular;
color: #666666;
margin-top: 30px;
}
#page-home .total-content .details-product .container .base-floor .add-base{
margin-top: 30px;
}
#page-home .total-content .details-product .container .base-floor .add-base a{
font-size: 15px;
font-family: Poppins-Medium;
color: #FDA94F;
text-decoration: none;
}

/* ------------------------------------------------------------- */
#page-home .total-content .details-product .container .base-floor-2{
width: 100%;
margin-top: 100px;
padding-bottom: 30px;
border-bottom: 1px solid #FDA94F;
}
#page-home .total-content .details-product .container .base-floor-2 .title-base{
font-size: 24px;
font-family: Poppins-Bold;
font-weight: 700;
color: #101425;
}
#page-home .total-content .details-product .container .base-floor-2 iframe{
margin-top: 30px;
}

/* ------------------------------------------------------------- */
#page-home .total-content .details-product .container .amenities{
width: 100%;
margin-top: 100px;
padding-bottom: 30px;
border-bottom: 1px solid #FDA94F;
}
#page-home .total-content .details-product .container .amenities .title-base{
font-size: 24px;
font-family: Poppins-Bold;
font-weight: 700;
color: #101425;
}
#page-home .total-content .details-product .container .amenities .box-check{
width: 100%;
margin: auto;
margin-top: 30px;
display: grid;
grid-template-columns: auto auto auto;
gap: 30px;
}
#page-home .total-content .details-product .container .amenities .box-check .content-check{
list-style: none;
display: flex;
width: 254px;
height: 27px;
}
#page-home .total-content .details-product .container .amenities .box-check .content-check .fa{
width: 24px;
line-height: 24px;
background-color: #ffe0cb;
border-radius: 5px;
color: #FDA94F;
text-align: center;

}
#page-home .total-content .details-product .container .amenities .box-check .content-check p{
margin-left: 10px;
font-size: 15px;
font-family: Poppins-Regular;
color: #666666;
}

/* ------------------------------------------------------------- */
#page-home .total-content .details-product .container .floor-plan{
width: 100%;
margin-top: 100px;
padding-bottom: 30px;
border-bottom: 1px solid #FDA94F;
}
#page-home .total-content .details-product .container .floor-plan .title-base{
font-size: 24px;
font-family: Poppins-Bold;
font-weight: 700;
color: #101425;
}
#page-home .total-content .details-product .container .floor-plan .img-floor-plan{
width: 100%;
height: 356px;
margin-top: 30px;
}
#page-home .total-content .details-product .container .floor-plan .img-floor-plan img{
width: 100%;
height: 356px;
}

/* ------------------------------------------------------------- */
#page-home .total-content .details-product .container .features{
width: 100%;
margin-top: 100px;
border-bottom: 1px solid #FDA94F;
padding-bottom: 30px;
}
#page-home .total-content .details-product .container .features .title-base{
font-size: 24px;
font-family: Poppins-Bold;
font-weight: 700;
color: #101425;
}
#page-home .total-content .details-product .container .features .box-check{
width: 100%;
margin: auto;
margin-top: 30px;
display: grid;
grid-template-columns: auto auto auto auto;
gap: 30px;
}
#page-home .total-content .details-product .container .features .box-check .content-check{
list-style: none;
display: flex;
width: 183px;
height: 45px;
}
#page-home .total-content .details-product .container .features .box-check .content-check .fa{
width: 40px;
line-height: 40px;
background-color: #ffdec5;
border-radius: 5px;
color: #FDA94F;
text-align: center;

}
#page-home .total-content .details-product .container .features .box-check .content-check .box-title{
margin-left: 15px;
}
#page-home .total-content .details-product .container .features .box-check .content-check .box-title .title{
font-size: 16px;
font-family: Poppins-Medium;
color: #101425;
}
#page-home .total-content .details-product .container .features .box-check .content-check .box-title .content{
font-size: 16px;
font-family: Poppins-Regular;
color: #666666;
}

/* ------------------------------------------------------------- */
#page-home .total-content .details-product .container .gallery{
width: 100%;
margin-top: 100px;
padding-bottom: 30px;
border-bottom: 1px solid #FDA94F;
}
#page-home .total-content .details-product .container .gallery .title-base{
font-size: 24px;
font-family: Poppins-Bold;
font-weight: 700;
color: #101425;
}
#page-home .total-content .details-product .container .gallery .img-floor-plan{
width: 100%;
height: 440px;
margin-top: 30px;
border-radius: 10px;
}
#page-home .total-content .details-product .container .gallery .img-floor-plan img{
width: 100%;
height: 440px;
}

/* ------------------------------------------------------------- */
#page-home .total-content .content-items .recommended{
width: 82%;
margin-top: 100px;
margin: auto;
margin-top: 100px;
}
#page-home .total-content .content-items .recommended .title-base{
font-size: 24px;
font-family: Poppins-Bold;
font-weight: 700;
color: #101425;
}

#page-home .total-content .content-items .recommended .product-items{
width: 100%;
margin: auto;
margin-top: 50px;
display: grid;
grid-template-columns: auto auto auto auto;
gap: 30px;
}

#page-home .total-content .content-items .recommended .product-items .product-mon{
width: 100%;
height: 457px;
background-color: #f6f6f6;
border-radius: 10px;
position: relative;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .img-product-2{
width: 100%;
height: 241px;
cursor: pointer;
overflow: hidden;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .img-product-2 .zoom-product img{
width: 100%;
height: 241px;
position: relative;
transform: scale(1);
transition: 0.3s ease-in-out;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .img-product-2 .zoom-product:hover img{
transform: scale(1.2);
 transition: 0.5s;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .redbrox{
display: flex;
align-items: center;
font-size: 14px;
font-family: Poppins-Regualar;
margin-top: 25px;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .redbrox .fa-user{
margin-left: 10%;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .title-product-2{
font-size: 16px;
font-family: Poppins-Regular;
font-weight: 600;
color: #101425;
margin-left: 10%;
margin-top: 20px;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .title-product-2:hover{
  color: #FDA94F;
  transition: all 0.3s ease-in-out;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .price-product-2{
margin-top: 30px;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .price-product-2 b{
font-size: 17px;
font-family: Poppins-Regular;
font-weight: 600;
color: #101425;
margin-left: 10%;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .price-product-2 del{
font-size: 17px;
font-family: Poppins-Regular;
font-weight: 600;
color: #c3cfe1;
margin-left: 3%;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .intro-house .wiew{
width: 100%;
height: 56px;
background-color: #f6f6f6;
display: flex;
align-items: center;
justify-content: space-around;
position: absolute;
z-index: 3;
bottom: -100%;
transition: all 0.4s ease-in-out;
}
#page-home .total-content .content-items .recommended .product-items .product-mon:hover .wiew{
bottom: 0;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .intro-house{
width: 100%;
height: 56px;
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 8%;
position: relative;
overflow: hidden;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .intro-house .wiew .phone{
width: 36px;
height: 36px;
background-color: #f6e6d3;
border-radius: 5px;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .intro-house .wiew .fa-phone{
font-size: 15px;
margin-left: 30%;
margin-top: 30%
}
#page-home .total-content .content-items .recommended .product-items .product-mon .intro-house .wiew .message{
width: 36px;
height: 36px;
background-color: #f6e6d3;
border-radius: 5px;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .intro-house .wiew .fa-message{
font-size: 15px;
margin-left: 30%;
margin-top: 30%;
color: #FDA94F;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .intro-house .wiew .btn{
width: 48%;
height: 36px;
background-color: #FDA94F;
border-radius: 5px;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .intro-house .wiew .btn a{
text-decoration: none;
font-size: 15px;
color: #ffffff;
font-family: Poppins-Regular;

}
#page-home .total-content .content-items .recommended .product-items .product-mon .intro-house .bed{
display: flex;
align-items: center;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .intro-house .fa{
font-size: 13px;
color: #FDA94F;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .intro-house p{
font-size: 13px;
font-family: Poppins-Regular;
color: #101425;
margin-left: 10px;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .icon-logo{
width: 50px;
height: 50px;
background-color: #ffffff;
box-shadow: 0 0 10px #101425;
border-radius: 50%;
position: absolute;
bottom: 43%;
left: 70%;
}
#page-home .total-content .content-items .recommended .product-items .product-mon .icon-logo img{
margin-left: 30%;
margin-top: 30%;
}













#page-home .footer{
  width: 100%;
  background-color: #f6f7fb;
  padding-top: 100px;
  padding-bottom: 50px;
}
#page-home .footer .footer-top{
  width: 83%;
  height: 95px;
 margin: auto; 
 display: flex;
 justify-content: space-between;
 border-bottom: 1px solid #d4d4d4;
}
#page-home .footer .footer-top .logo-footer{
  width: 140px;
  height: 46px;
}
#page-home .footer .footer-top .logo-footer img{
  width: 100%;
  height: 100%;
}
#page-home .footer .footer-top .social-footer{
  display: flex;
}
#page-home .footer .footer-top .social-footer .social{
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
}
#page-home .footer .footer-top .social-footer .social .fa-brands{
  color: #FDA94F;
  font-size: 15px;
  margin-left: 35%;
  margin-top: 30%;
}
#page-home .footer .footer-top .social-footer h3{
  font-size: 15px;
  font-family: Poppins-Regular;
  margin-right: 20px;
  margin-top: 10px;

}
#page-home .footer .footer-top .social-footer .social:hover{
  background-color: #FDA94F;
}
#page-home .footer .footer-top .social-footer .social:hover .fa-brands{
  color: #ffffff;
}
#page-home .footer .footer-bottom{
  width: 83%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
#page-home .footer .footer-bottom .box-footer-bottom{
  width: 25%;
  height: 212px;
}
#page-home .footer .footer-bottom .box-footer-bottom .title-footer{
  font-size: 24px;
  font-family: Poppins-Bold;
  font-weight: 700;
  color: #101425;
}
#page-home .footer .footer-bottom .box-footer-bottom .content-footer{
  margin-top: 30px;
}
#page-home .footer .footer-bottom .box-footer-bottom .content-footer a{
  text-decoration: none;
  font-size: 15px;
  font-family: Poppins-Regular;
  font-weight: 400;
  color: #666666;
}
#page-home .footer .footer-bottom .box-footer-bottom .content-footer a:hover{
  color: #FDA94F;
}
#page-home .footer .footer-bottom .box-footer-bottom .content-footer .name{
  width: 100%;
  height: 48px;
  border: 1px solid #d4d4d4;
  background-color: #ffffff;
  border-radius: 5px;
}
#page-home .footer .footer-bottom .box-footer-bottom .content-footer .name input{
  width: 90%;
  height: 38px;
  margin-top: 5px;
  margin-left: 5%;
  outline: none;
}
#page-home .footer .footer-bottom .box-footer-bottom .content-footer .email{
  width: 100%;
  height: 48px;
  border: 1px solid #d4d4d4;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 10px;
}
#page-home .footer .footer-bottom .box-footer-bottom .content-footer .email input{
  width: 90%;
  height: 38px;
  margin-top: 5px;
  margin-left: 5%;
  outline: none;
}
#page-home .footer .footer-bottom .box-footer-bottom .content-footer .btn{
  width: 100%;
  height: 48px;
  background-color: #FDA94F;
  color: #ffffff;
  font-size: 15px;
  font-family: Poppins-Regular;
  border-radius: 5px;
  margin-top: 10px;
}
#page-home .footer .footer-bottom .box-footer-bottom .content-footer .btn:hover{
background-color: #fdb970;
}
#page-home .footer .copyright{
  width: 30%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}
#page-home .footer .copyright p{
  font-size: 15px;
  font-family: Poppins-Regular;
}
#page-home .footer .copyright a{
  font-size: 15px;
  font-family: Poppins-Regular;
  text-decoration: none;
  color: #101425;
}
#page-home .footer .copyright a:hover{
  color: #FDA94F;
}



@media screen and (max-width: 2000px){
  .nav{
      display: none;
  }
  .navbar .search-box{
     display: none;
    }
}

/* _______________________________________________________________________________________________________ */
@media screen and (max-width: 1113px){
#page-home .header .container .box-header .menu{
width: 65%;
}
#page-home .footer .copyright{
width: 50%;
}
#page-home .total-content .content-items .recommended .product-items{
display: grid;
grid-template-columns: auto auto auto;
}
#page-home .footer .footer-bottom{
display: grid;
grid-template-columns: auto auto auto;
}
#page-home .footer .footer-bottom .box-footer-bottom{
width: 100%;
}
#page-home .total-content .details-product .container .features .box-check{
display: grid;
grid-template-columns: auto auto auto;
}

}

/* _______________________________________________________________________________________________________ */
@media screen and (max-width: 1080px){

#page-home .header .container .box-header .menu{
width: 75%;
}
#page-home .total-website .article-left .product-slider .slick-prev{
right: 15%;
}
}

/* _______________________________________________________________________________________________________ */
@media screen and (max-width: 1025px){
#page-home .total-website .aside-right .contact .btn{
  width: 80%;
  margin-left: 0px;
}
#page-home .total-content .content-items .total-website .article-left .name-price{
  display: block;
}
#page-home .total-content .content-items .total-website .article-left .name-price h3{
  margin-left: 0px;
}
}
/* _______________________________________________________________________________________________________ */
@media screen and (max-width: 835px){
  #page-home .header .container .box-header .menu .total-menu{
      display: none;
    }
    .nav{
      display: block;
    }
    #page-home .header .container .box-header .menu{
      width: 40%;
    }
    #page-home .total-website .box-details{
      display: block;
    }
    #page-home .total-website .article-left{
      width: 100%;
  }
  

  #page-home .total-website .aside-right{
      width: 100%;
      margin-top: 50px;
  }
  #page-home .total-content .details-product{
    width: 83%;
  }
  #page-home .total-content .details-product .container .amenities .box-check{
    display: grid;
    grid-template-columns: auto auto;
  }
  #page-home .total-content .content-items .recommended .product-items{
    display: grid;
    grid-template-columns: auto auto;
  }
}

/* ----------------------------------------------------- */
@media screen and (max-width: 734px){
  #page-home .total-website .article-left .product-slider{
    height: 527px;
  }
  #page-home .total-website .article-left .box-slider img{
    height: 527px;
}
#page-home .total-website .article-left .product-slider .slick-prev{
  right: 17%;
  top: 84%;
}
#page-home .total-content .details-product .container .features .box-check{
display: grid;
grid-template-columns: auto auto;
}
#page-home .footer .footer-bottom{
display: grid;
grid-template-columns: auto auto;
}
}

/* ----------------------------------------------------- */
@media screen and (max-width: 668px){
  #page-home .total-content .details-product .container .row-room{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
  }
 
}

/* ----------------------------------------------------- */
@media screen and (max-width: 600px){
  #page-home .header .container .box-header .menu{
    width: 45%;
  }
 
}
/* ----------------------------------------------------- */
@media screen and (max-width: 414px){
  #page-home .total-website .article-left .product-slider{
    height: 327px;
  }
  #page-home .total-website .article-left .box-slider img{
    height: 327px;
}
#page-home .total-website .article-left .product-slider .slick-prev{
  right: 24%;
  top: 78.5%;
}
#page-home .total-content .content-items .total-website .article-left .name-price h3{
font-size: 25px;
margin-left: 0px;
}
#page-home .total-content .details-product .container .row-room{
display: grid;
grid-template-columns: auto;
gap: 30px;
margin-left: 30%;
}
#page-home .total-content .details-product .container .features .box-check{
display: grid;
grid-template-columns: auto;
}
#page-home .total-content .details-product .container .amenities .box-check{
display: grid;
grid-template-columns: auto;
}
#page-home .total-content .details-product .container .gallery .img-floor-plan{
height: 340px;
}
#page-home .total-content .details-product .container .gallery .img-floor-plan img{
height: 340px;
}
#page-home .total-content .content-items .recommended .product-items{
display: grid;
grid-template-columns: auto;
}
#page-home .footer .footer-top{
display: block;
}
#page-home .footer .footer-bottom{
display: grid;
grid-template-columns: auto;
}
#page-home .footer .copyright{
width: 80%;
}
}

/* ---------------------------------------------------- */
@media screen and (max-width: 375px) {
  #page-home .header .container .box-header .logo{
    margin-left: 5px;
  }
  #page-home .total-content .details-product .container .row-room{
    margin-left: 25%;
  }
  #page-home .total-content .details-product .container .floor-plan .img-floor-plan{
    height: 300px;
  }
  #page-home .total-content .details-product .container .floor-plan .img-floor-plan img{
    height: 300px;
  }
}
/* ---------------------------------------------------- */
@media screen and (max-width: 320px) {
  #page-home .header .container .box-header .menu .listing{
    margin-left: 10px;
  }
}


