.container-box {
    width: 90%;
    height: 100%;
   border: 1px solid #b5b5b5;
}
.container-box .btn{
    margin-top: 15px;
}
.container-box .btn:hover{
    color: cornflowerblue;
}
.container-box .content-1{
    margin-left: 27%;
}
.container-box .content{
    margin-left: 17%;
}


.container-box-2 {
    width: 90%;
    height: 100%;
   border: 1px solid #b5b5b5;
   display: none;
}
.container-box-2 .btn{
    margin-top: 15px;
}
.container-box-2 .btn:hover{
    color: cornflowerblue;
}
.container-box-2 .content-1{
    margin-left: 27%;
}
.container-box-2 .content{
    margin-left: 17%;
}

.container-box-3 {
    display: none;
    width: 90%;
    height: 100%;
   border: 1px solid #b5b5b5;
   padding-left: 10px;
}
.container-box-3 .btn{
    margin-top: 15px;
}
.container-box-3 .btn:hover{
    color: cornflowerblue;
}
.container-box-3 .content-1{
    margin-left: 27%;
}
.container-box-3 .content{
    margin-left: 27%;
}
#signup {
   
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
    width: 100%;
}

#signup .header {
    margin-bottom: 20px;
}

#signup .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#signup .sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

#signup .inputs {
    margin-top: 25px;
    padding-left: 5%;
}

#signup .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

#signup .inputs input[type=email], input[type=password], input[type=text] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 95%;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#signup .inputs input[type=email]:focus, input[type=password]:focus, input[type=text]:focus {
    background: #fff;
    
    outline: 1px solid rgb(119, 206, 233);   
}

#signup .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#signup .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#signup .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

#signup .inputs #submit {
    width: 95%;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
       background-color: #000000;
    display: table;
    position: static;
    clear: both;
}

#signup .inputs #submit:hover {
    background: -moz-linear-gradient(
        top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#a4b0cb),
        to(#b9c5dd));
}

.footer__widget ul li a{
    color: #b7b7b7 !important;
}