/* Hiển thị sản phẩm */
.main-product{
    width: 100%;
    margin: 0;
}
.container-c{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
    width: 100%;
    transform-style: preserve-3d;
}
.list-group-item-success{
    background-color: #9bb3d7;
}
.list-group-item-success:hover{
    background-color: #9bb3d7 !important;
}
.container-c .box{
    position: relative;
    width: 230px;
    height: 300px;
    margin: 10px;
    border: 0.5px #232323 solid;
    /* border-radius: 10px;
    transition: 0.5s;
    transform-style: preserve-3d; */
}
/* .container-c .box::before{
    content: '';
    position: absolute;
    top: 10px;
    Left: 15%;
    font-size: 3em;
    font-weight: 900;
    color: #232321;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
} */
/* .container-c .box:hover::before{
    opacity: 0.5;
} */
/* .container-c .box:hover{
    border: 0.5px #89b9da solid;
    background:rgba(141, 194, 224, 0.5);
} */
.box .name{
    text-align: center;
    color: #082c5c;
   margin-top: 10px;
}
/* .container-c .box:hover .name{
    top: 10px;
    color: white;
    opacity: 1;
} */
.container-c .box .buy{
    position: absolute;
    bottom: 50px;
    Left: 30%;
   
    color: white;
    background: #045aca;
    padding: 8px 20px;
    font-size: 13px;
    text-decoration: none;
    transition: 0.5s;
   
}
.container-c .box .buy1{
    position: absolute;
    bottom: 10px;
    Left: 27%;
    
    color: rgb(175, 13, 13) !important;
    font-weight: 600;
    padding: 3px 10px;
    font-size: 18px;
    text-decoration: none;
   
}
/* .container-c .box:hover .buy{
    bottom: 20px;
    opacity: 1;
} */
.container-c .box:hover .buy1{
    bottom: 10px;
    opacity: 1;
    transition: 0.1s;
}
.container-c .box .circle{
    position: absolute;
    top: 50%;
    Left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 40%;
    
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%, -50%, 5px);
}
.container-c .box .product{
    position: absolute;
    top: 50%;
    Left: 50%;
    max-width: 200px;
    transition: 0.5s;
    z-index: 11;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 5px) rotate(-8deg);
}
.container-c .box:hover .product{
    transform: translate3d(-50%, -50%, 30px) rotate(0deg);
}
/* Chi tiết sản phẩm */
@font-face {
    font-family: huydeptrai;
    src: url("../font/aachenb.ttf");
}
@font-face {
    font-family: huycute;
    src: url("../font/UVNBaiSau_R.TTF");
}
.article{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 500px;
    background-color: antiquewhite;

}
.bannerText{
    font-family: huydeptrai;
    text-align: center;
    color: #56298E;
}
.bannerTextbottom{
    font-family: huydeptrai;
    padding-top: 580px;
    text-align: center;
    color: #56298E;
}
.main-left{
    width: 60%;
    height: 100%;
    float: left;
    border-right: 1px solid gray;
    margin-top: 20px;
}
.main-right{
    width: 40%;
    height: 500px;
    float: left;
    margin-top: 20px;
}
.img-all{
    margin: 0 auto;
    width: 50%;
}
.image{
    width: 100%;
    height: 100%;
    padding: 5px ;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px black;
    margin-bottom: 20px;
}
.money{
    margin-left: 10px;
    width: 90%;
    height: 50px;
    font-size: 27px;
    font-family: huycute;
}
.detail{
    border-top: 1px solid gray;
}
.child-left{
    width: 45%;
    height: 100%;
    float: left;
    border-right: 1px solid gray;
}
.child-left {
    margin-left: 10px;
    font-family: huycute;
    font-size: 18px;
}
.child-right{
    font-family: huycute;
    font-size: 18px;
    width: 45%;
    height: 100%;
    float: right;
}
.child-bottom{
    border-top: 2px solid gray;
    width: 100%;
    height: 100px;
    clear: both;
}


